
$media-tablet-portrait: "only screen and (min-width: 768px)";
$media-tablet-landscape: "only screen and (min-width: 1024px)";

$margin-mobile: 22px;
$max-width: 83.6rem;

%font1{
	font-family: Merriweather, serif;
}
%font2{
	font-family: Comfortaa, sans-serif;
}
%texto1{
	@extend %font1;
	line-height: 2.1em;
	font-weight: 400;
	font-size: 1.3rem;
	@media #{$media-tablet-portrait}{
		font-size: 2.0rem;
	}
	// @media #{$media-tablet-landscape}{
	// 	font-size: 2.2rem;
	// }
}

%texto2{
	@extend %font1;
	line-height: 1.8em;
	font-weight: 300;
	font-size: 1.0rem;
	@media #{$media-tablet-portrait}{
		line-height: 2.1em;
		font-size: 1.3rem;
	}
	// @media #{$media-tablet-landscape}{
	// 	line-height: 2.1em;
	// 	font-size: 1.4rem;
	// }
}
